body { 
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bgimg {
	width: 100vw;
	z-index: -1;
}

h1 {
    text-align: center;
    color: aqua;
}

h4 {
    color: rgb(4, 60, 87);;
}

#location {
    color: rgb(4, 60, 209);
}

#toggleTemp {
     color: #68ebc5;
     background: #0000ff;
     border-radius: 10px;
}

#toggleTemp:hover {
     color: #0000ff;
     background: #68ebc5;
}

.jumbotron{
    background-color: rgba(255, 255, 255, 0.4);
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 40%;
}

.container {
    color: rgb(44, 15, 24);
}

#city {
    color: rgb(196, 14, 92);
    font-size: x-large;
}

.list-unstyled {
    list-style-position: inside;
    
}

#weatherType {
    font-size: larger;
}

#temp {
    font-size: larger;
}

#windSpeed {
    font-size: larger;
}
